@import "reset";
@import "mixins";

html, body {
  background: #dedede;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;

  @include respond-to(mobile) { font-size: 11px; }
  @include respond-to(handhelds) { font-size: 14px; }
  @include radial-gradient(#dedede, #f6f6f6);
}

@import "surface";
@import "variables";
@import "pirate";
@import "loading";
@import "list";
@import "header";
@import "buttons";
@import "form";